@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}
body {
  background: linear-gradient(45deg, rgba(255, 185, 8, 0.671), #9d0208);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.screen {
  background: linear-gradient(90deg, #ca6702, #a04e3931);
  position: relative;
  height: 450px;
  width: 450px;
  border-radius: 108px 64px 10px 64px;
}
.screen__content {
  z-index: 2;
  position: relative;
  height: 450px;
  width: 450px;
  border-radius: 108px 64px 10px 64px;
}
.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 108px 64px 10px 64px;
  border: 6px ridge #370617;
}
.screen__background__shape {
  transform: rotate(40deg);
  position: absolute;
}
.screen__background__shape1 {
  height: 350px;
  width: 200px;
  background: #9a031f8c;
  top: 30px;
  right: 120px;
  border-radius: 72px 72px 72px 72px;
  box-shadow: -20px -15px 10px 12px rgba(214, 130, 60, 0.6);
}
.login {
  width: 320px;
  padding-top: 55px;
}
.login__field {
  padding: 20px 30px;
  position: relative;
}
.login__icon {
  position: absolute;
  top: 40px;
  padding-left: 30px;
  padding-right: 50%;
  color: #370617;
}
.login__input {
  border: none;
  border-bottom: 2px solid #9a031f96;
  border-radius: 18px 64px 18px 64px;
  background: #e98725be;
  padding: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  width: 130%;
  transition: 0.2s;
}
.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #9a031e;
}
.login__submit {
  background: #9a031fc9;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 35px;
  padding: 25px 30px;
  border-radius: 26px;
  border: 1px solid #dc2e02c4;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: 80%;
  height: 75px;
  color: #ffb908c7;
  box-shadow: 0px 2px 2px #fcbf49;
  cursor: pointer;
  transition: 0.2s;
}
.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #ffba08;
  outline: none;
}
.button__icon {
  font-size: 35px;
  margin-left: auto;
  color: #ffba08;
}
.social-login {
  position: absolute;
  height: 120px;
  width: 120px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  bottom: 5px;
  margin-right: 30px;
  right: 0px;
  color: #9a031fb9;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-login__icon {
  padding: 15px 15px;
  color: #9d0207bb;
  height: 20px;
  width: 20px;
  text-decoration: none;
  text-shadow: 0px 0px 8px #9d0207e3;
}
.social-login__icon:hover {
  transform: scale(1.5);
}
